<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>멍뭉사관학교 홍보</title>
  <link rel="stylesheet" href="/css/home_style.css">
</head>

<body>
  <div id="home">

    <h2>댕댕이 사관학교 홍보영상 보고가세요</h2>

    <div id="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9708Qoe83VI?si=wVTNYc4PTfXmoxQy" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/dLpy8sadZBA?si=8kTgzBj9dxbjtmSK" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/eJvcoohXDuY?si=vR7EwqfRyULFtPyA" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h2>댕댕이 사관학교 친구 사진</h2>

    <div id="picture">
      <div class="polaroid">
        <img class="ggodong" src="/img/1.jpg" alt="companyLogo">
        <div class="caption">사진 설명</div>
      </div>

      <div class="polaroid">
        <img class="ggodong" src="/img/2.jpg" alt="companyLogo">
        <div class="caption">사진 설명</div>
      </div>

      <div class="polaroid">
        <img class="ggodong" src="/img/3.jpg" alt="companyLogo">
        <div class="caption">사진 설명</div>
      </div>
      
      <div class="polaroid">
        <img class="ggodong" src="/img/4.jpg" alt="companyLogo">
        <div class="caption">사진 설명</div>
      </div>
    </div>

    <h2>댕댕이 사관학교에 대해 더 알아보고 싶다면</h2>

    <div id="link">
      <div class="link-item">
        <a href="https://www.instagram.com/" target="_blank">
          <img class="sns" src="https://ifh.cc/g/pxLMyX.png" alt="Instagram">
        </a>
      </div>
      <div class="link-item">
        <a href="https://www.youtube.com/" target="_blank">
          <img class="sns" src="https://ifh.cc/g/5FagNW.png" alt="YouTube">
        </a>
      </div>
      <div class="link-item">
        <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0" target="_blank">
          <img class="sns"src="https://ifh.cc/g/N1y61V.png" alt="Blog">
        </a>
      </div>
    </div>

  </div>
</body>

</html>