<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>

  <body>
    <div>
      <!-- 여기 페이지에 main.ejs layout을 입히는 거임(CSS 입히지 말어 이페이지에) -->
      <h1>관리자 메인페이지</h1>
    </div>
  </body>
</html>

<!-- views/admin/admin_home.ejs -->
