<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/communityDetail_style.css"> <!-- CSS 파일 임포트 -->
</head>

<body>
  <h1><%= locals.title %></h1>
  <form action="/qna/add" method="POST">
      <label for="question">질문:</label>
      <textarea id="question" name="question" required></textarea>
      <label for="createBy">작성자:</label>
      <input type="text" id="createBy" name="createBy" value="<%= session.id >"disabled required><!-- 세션에서 아이디 받아옴-->
      <button type="submit">제출</button>
  </form>
  <a href="/qna">목록으로 돌아가기</a>
</body>