<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/mainpage_style.css">
</head>
<body>


    <div class="wrapper">
      <h2 class="section-spacing">멍뭉사관학교 홍보영상 보고가세요</h2>
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/Tei1auiBrDY" title="[#모았동물농장] 심장에 해로운 꼬물이들🐾 모음집 2탄💕 다 같이 모여 있으면 더 더 더 귀여운 아기 강아지🐶들 모음집 #TV동물농장 #AnimalFarm #SBSstory" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/2Xc9gXyf2G4" title="Another YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <h2>멍뭉사관학교 훈련사진</h2>

      <div class="item">
        <div class="polaroid">
          <img src="https://cdn.imweb.me/upload/S201807025b39d1981b0b0/1825fcb7bab2f.jpg">
          <div class="caption"></div>
        </div>
      </div>
      <div class="item">
        <div class="polaroid">
          <img src="https://m.sportsworldi.com//content/image/2024/06/11/20240611515853.jpg">
          <div class="caption"></div>
        </div>
      </div>
      <div class="item">
        <div class="polaroid">
          <img src="https://www.fitpetmall.com/wp-content/uploads/2023/10/shutterstock_1298367964-1-1.png">
          <div class="caption"></div>
        </div>
      </div>
      <div class="item">
        <div class="polaroid">
          <img src="https://contents.creators.mypetlife.co.kr/content/uploads/2020/01/14191140/thumb-20200114143948_219d4d3ec06ebb3d88adb161e21ad2c5_rpkf_700x467.jpg">
          <div class="caption"></div>
        </div>
      </div>
      <div class="item">
        <div class="polaroid">
          <img src="https://yozm.wishket.com/media/news/2278/4.jpg">
          <div class="caption"></div>
        </div>
      </div>

      <h2 class="section-spacing">멍뭉사관학교에 대해 더 알아보고 싶다면</h2>
      <div class="links-wrapper">
        <div class="link-item">
          <a href="https://www.youtube.com/" target="_blank">
            <img src="https://ifh.cc/g/5FagNW.png" alt="YouTube">
          </a>
          <div>유튜브</div>
        </div>
        <div class="link-item">
          <a href="https://www.instagram.com/" target="_blank">
            <img src="https://ifh.cc/g/pxLMyX.png" alt="Instagram">
          </a>
          <div>인스타</div>
        </div>
        <div class="link-item">
          <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0" target="_blank">
            <img src="https://ifh.cc/g/N1y61V.png" alt="Blog">
          </a>
          <div>블로그</div>
        </div>
      </div>
    </div>
</body>
</html>
