/* admin_facilitiesMain_style.css */

body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 20px;
}

.employee-container, .facility-container {
  margin-bottom: 40px;
}

.employee-table, .facility-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.employee-table td, .facility-table td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
  text-align: center;
  width: 20%; /* 이 설정으로 각 셀이 테이블 너비의 20%를 차지합니다 */
}

.employee-card, .facility-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-card img, .facility-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.employee-info, .facility-info {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.employee-info li, .facility-info li {
  margin-bottom: 5px;
}

.employee-card img {
  max-width: 100px; /* 원하는 크기로 수정 */
  max-height: 100px; /* 원하는 크기로 수정 */
}
