:root {
  --brown: #dd8e55;
  --yellow: #fbd663;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

#postlist {
  padding: 20px;
}

.class-box {
  flex: 1 1 300px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.class-box h3 {
  color: var(--brown);
}

.class-box a {
  color: var(--brown);
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.admin-posts {
  list-style-type: none;
  padding: 0;
}

.post-title {
  font-size: 16px;
}

.post-title a {
  color: #333;
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}
