:root {
  --brown: #dd8e55;
  --yellow: #fbd663;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  /*가로축 스크롤 제거*/
}

#facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-container,
.facility-container {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
  text-align: center;
  width: 20%;
  /* 이 설정으로 각 셀이 테이블 너비의 20%를 차지합니다 */
}

.employee-card,
.facility-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-card img,
.facility-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.employee-info,
.facility-info {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.employee-info li,
.facility-info li {
  margin-bottom: 5px;
}

.employee-card img {
  max-width: 100px;
  /* 원하는 크기로 수정 */
  max-height: 100px;
  /* 원하는 크기로 수정 */
}

#editBtn {
  width: 100px;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 10px 0px;
  margin-bottom: 20px;
}

#editBtn:hover {
  background-color: #0056b3;
}

#addBtn {
  width: 100px;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

#addBtn:hover {
  background-color: #218838;
}