<<<<<<< HEAD
/* :root {
  --brown: #dd8e55;
  --yellow: #fbd663;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  /*가로축 스크롤 제거
} */

=======
>>>>>>> chae
/* 검색창 및 버튼 가운데 정렬 */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* 아래 여백 추가 */
}

#searchInput {
  width: 400px; /* 너비를 조정하여 더 크게 설정 */
  padding: 15px; /* 내부 패딩을 추가하여 텍스트 입력이 더 편리하도록 설정 */
  font-size: 16px;
  border: 2px solid #ffc107;
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  padding: 15px 30px; /* 패딩을 크게 설정하여 버튼이 더 크게 보이도록 함 */
  background-color: #ffc107; /* 배경색을 노란색으로 설정 */
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffca28; /* 호버 시 배경색 변경 */
}

/* 새 게시물 추가 버튼 위치 및 스타일 */
.new-post-button {
  position: fixed; /* 고정 위치 설정 */
  bottom: 20px; /* 하단 여백 */
  right: 20px; /* 우측 여백 */
  padding: 15px 30px; /* 패딩을 크게 설정하여 버튼이 더 크게 보이도록 함 */
  background-color: #ffc107; /* 배경색을 노란색으로 설정 */
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-post-button:hover {
  background-color: #ffca28; /* 호버 시 배경색 변경 */
}

h2 {
  text-align: center; /* 제목을 가운데 정렬 */
}
