<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div><h2>금액표</h2>
    <form>
      <th>오전반</th><tr></tr>
      <td>오전 일과</td>
      <p>32,000</p>
      <input>선택</input>
    </form>
  </div>
</body>
</html>