<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/freeboard_style.css"> <!-- CSS 파일 임포트 -->
</head>
<body>
    <div id="freeboard">
        <h1><%= locals.title %></h1>
        <div class="main-content">
            <form action="/freeboard/add" method="POST" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="제목" required><br>
                <textarea name="content" placeholder="내용을 입력해 주세요." required></textarea><br>
                <input type="file" name="Image"><br>
                <button type="submit">추가</button><br>
                <a href="/freeboard">뒤로가기</a>
            </form>
        </div>
    </div>
</body>
</html>
