<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form
  id="facilitiesedit"
  style="height: 100vh"
  class="container d-flex flex-column justify-content-center"
  action="/admin/adminstaffcreate"
  method="post"
  enctype="multipart/form-data"
>
  <h2 class="text-center">직원생성</h2>
  <div class="d-flex justify-content-center">
    직원 이름<input name="name" class="w-50 form-control text-center" type="text" />
  </div>
  <div class="d-flex justify-content-center">
    직원 직급<input name="role" class="w-50 form-control text-center" type="text" />
  </div>
  <div class="d-flex justify-content-center">
    직원 경력<input name="contact_info" class="w-50 form-control text-center" type="text" />
  </div>  
  <div class="d-flex justify-content-center mt-3">
    <label for="staff_photo">Upload Image:</label>
    <input name="staff_photo" class="form-control-file" type="file" />
  </div>
  <div class="text-center mt-3">
    <button type="submit" class="btn btn-primary">글쓰기</button>
  </div>
  <div class="in">
    <button type="button" class="btn btn-secondary" onclick="location.href='/admin/adminFacilitiesMain'">뒤로가기</button>
  </div>  
</form>
</body>
</html>