<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/notice_style.css" />
  <!-- CSS 파일 임포트 -->
</head>
<div>
  <h1><%=locals.title %></h1>
  <form action="/admin/notice/add" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="제목" required />
    <textarea
      name="content"
      placeholder="내용을 입력해 주세요."
      required
    ></textarea>
    <input type="file" name="image" />
    <button type="submit">추가</button>
    <a href="/admin/notice">뒤로가기</a>
  </form>
</div>

<!-- views/admin/notice/add.ejs -->
