<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자 로그인</title>
  <link rel="stylesheet" href="/css/loginstyle.css">
</head>

<body>
  <!-- 로그인/회원가입 -->
  <div id="login">
    <!-- 로그인 폼 -->
    <div class="login-content login-content-signin">
      <div>
        <div id="top">
          <h2>로그인</h2>
          <a href="/">Home</a>
        </div>

        <form class="wrapBox" action="/users/login" role="form" method="post">
          <input type="text" name="user_id" placeholder="아이디를 입력하세요." required>
          <input type="password" name="user_pw" placeholder="비밀번호를 입력하세요." required>
          <button type="submit">로그인</button>
        </form>
      </div>
    </div>

    <!-- 회원가입 폼 -->
    <div class="login-content login-content-signup" style="display: none;">
      <div>
        <div id="top">
          <h2>회원가입</h2>
          <a href="/">Home</a>
        </div>

        <form class="wrapBox" action="/check-duplicate-id" role="form" method="post">
          <label>
            <input id="exclude" type="text" name="user_id" class="form-control" placeholder="아이디" required value="<%= typeof user_id !== 'undefined' ? user_id : '' %>">
            &nbsp;&nbsp;<button type="submit">중복확인</button>
          </label>
        </form>

        <% if (typeof isDuplicate !== 'undefined') { %>
          <% if (isDuplicate) { %>
            <div id="duplicateMessage" style="color: red;">아이디가 중복되었습니다.</div>
          <% } else { %>
            <div id="duplicateMessage" style="color: green;">사용 가능한 아이디입니다.</div>
          <% } %>
        <% } %>

        <form class="wrapBox" action="/users/signup" role="form" method="post">
          <input type="password" name="user_pw" class="form-control" placeholder="비밀번호" required>
          <input type="password" name="user_pw_confirm" class="form-control" placeholder="비밀번호 확인" required>
          <input type="text" name="user_name" class="form-control" placeholder="견주이름" required>
          <input type="tel" name="user_phone" class="form-control" placeholder="견주연락처" required>
          <input type="text" name="pet_name" class="form-control" placeholder="강아지이름" required>
          <div class="group">
            강아지 성별
            <label>
              <input type="radio" name="pet_gender" value="Male" required> 남
            </label>
            <label>
              <input type="radio" name="pet_gender" value="Female" required> 여
            </label>
          </div>

          <div class="group">
            중성화 여부
            <label>
              <input type="radio" name="pet_neutering" value="yes" required> 예
            </label>
            <label>
              <input type="radio" name="pet_neutering" value="no" required> 아니오
            </label>
          </div>

          <br>

          <div class="group">
            <textarea name="peculiarity" class="form-control form-control-notes" placeholder="특이사항"></textarea>
          </div>
          <button type="submit" class="btn btn-submit btn-default pull-right">회원가입</button>
        </form>
      </div>
    </div>

    <!-- 스위처 -->
    <div class="switcher">
      <div class="switcher-signin">
        <h3>계정이 있으신가요?</h3>
        <button onclick="document.querySelector('.login-content-signin').style.display = 'block'; 
            document.querySelector('.login-content-signup').style.display = 'none';">로그인</button>
      </div>
      <div class="switcher-signup">
        <h3>회원가입을 안하셨나요?</h3>
        <button onclick="document.querySelector('.login-content-signin').style.display = 'none'; 
            document.querySelector('.login-content-signup').style.display = 'block';">회원가입</button>
      </div>
    </div>
  </div>

  <% if (locals.showSignup) { %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelector('.login-content-signin').style.display = 'none';
      document.querySelector('.login-content-signup').style.display = 'block';
    });
  </script>
  <% } %>
</body>

</html>
