<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>직원 및 시설 소개</title>
  <link rel="stylesheet" href="/css/admin_facilitiesCreate_style.css">
</head>

<body>
  <div id="create">
    <form id="facilitiesedit" style="height: 100vh" class="container d-flex flex-column justify-content-center"
      action="/adminfacilitiescreate" method="post" enctype="multipart/form-data">
      <h2 class="text-center">Create</h2>
      <div id="cover">
        <div class="in">
          시설 이름 &nbsp; <input name="facility_name" type="text" />
        </div>
        <div class="in">
          주요 시설 &nbsp; <input name="main_facilities" type="text" />
        </div>
        <div class="ln">
          <label for="facility_photo">Upload Image:</label>
          <input name="facility_photo" type="file" />
        </div>
        <div class="in">
          <button id="addBtn" type="submit" class="btn btn-primary">글쓰기</button>
        </div>
      </div>
    </form>
  </div>
</body>
