<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/class_register.css" />
    <title>수업 신청</title>
</head>
<body>
    <h1>수업 신청</h1>
    <form action="/classregister" method="post">
        <input type="text" name="owner_name" value="<%= locals.user.user_name %>" readonly><br>
        <input type="text" name="dog_name" value="<%= locals.user.pet_name %>" readonly><br>
        <label for="class_name">수업 종류</label>
        <select name="class_name" id="class_name" required>
            <option value="오전">오전</option>
            <option value="오후">오후</option>
            <option value="종일">종일</option>
        </select><br>
        <label for="feed_status">급식 여부</label>
        <input type="checkbox" name="feed_status" id="feed_status"><br>
        <label for="pickup_status">픽업 여부</label>
        <input type="checkbox" name="pickup_status" id="pickup_status"><br>
        <label for="start_date">시작 날짜</label>
        <input type="date" name="start_date" id="start_date" required><br>
        <label for="end_date">종료 날짜</label>
        <input type="date" name="end_date" id="end_date" required><br>
        <button type="submit">신청</button>
        <button onclick="location.href='/'">뒤로가기</button>
    </form> 
</body>
</html>
